@import url("./vars.css");
@import url("./preloader.css");

/* Global */
.body {
  background-color: var(--color-white);
  color: var(--color-black);
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
}

.body--preload {
  overflow: hidden;
}

.body--menu-opened {
  overflow: hidden;
}

.body--opened-modal {
  overflow: hidden;
  padding-right: 17px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  /* width: calc(var(--wrapper-width) * 1px); */
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.container {
  max-width: 1390px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  background-color: var(--accent-color);
  color: var(--color-white);
  transition: var(--transition);
}

.button img {
  transition: var(--transition);
}

.button:hover,
.button:focus {
  transform: scale(1.1);
}

.button:hover img,
.button:focus img {
  transform: rotate(45deg);
}

.title {
  font-family: "Impact";
  font-size: 120px;
}

.accent-text {
  position: relative;
  color: var(--color-white);
  font-weight: 400;
  z-index: 0;
}

.accent-text::before {
  content: "";
  position: absolute;
  width: 106%;
  height: 95%;
  top: 10px;
  left: -05px;
  background-color: var(--accent-color);
  z-index: -1;
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

/* Header */
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 19px 0 60px;
}

.header__burger {
  display: none;
  gap: 18px;
  align-items: center;
  padding: 10px 30px;
  border: 1px solid var(--color-black);
  border-radius: 24px;
  font-family: "Impact";
  font-size: 24px;
  transition: var(--transition);
}

.header__burger:hover,
.header__burger:focus,
.header__burger--active {
  background-color: var(--accent-color);
  color: var(--color-white);
}

.header__burger:hover svg circle,
.header__burger:focus svg circle,
.header__burger--active svg circle {
  fill: var(--color-black);
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 35px;
}

.logo path {
  transition: var(--transition);
}

.logo:hover path,
.logo:focus path {
  fill: var(--accent-color);
}

.header__menu {
  display: flex;
  gap: 20px;
  font-size: 25px;
  font-weight: 700;
  line-height: var(--line-height);
}

.menu__link {
  padding: 10px 0;
  transition: var(--transition);
}

.menu__link:hover,
.menu__link:focus {
  color: var(--accent-color);
}

.header__btn {
  display: flex;
  align-items: center;
  gap: 38px;
  padding: 8px 5px 8px 60px;
  border-radius: 27px;
  background-color: var(--accent-color);
  color: var(--color-white);
  font-family: "Impact";
  font-size: 20px;
}

.header__btn:hover,
.header__btn:focus {
  background-color: var(--color-black);
}

.header__btn--active {
  display: none;
  font-size: 24px;
}

/* Footer */
.footer__inner {
  margin-bottom: 60px;
  padding: 45px 41px 51px 54px;
  background-color: var(--color-black);
  border-radius: var(--border-radius);
  color: var(--color-white);
}

.footer__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 76px;
}

.footer__nav {
  display: flex;
  gap: 100px;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  margin-bottom: 6px;
}

.footer__socials {
  display: flex;
  gap: 16px;
  margin-bottom: 21px;
}

.footer__socials .socials__link path {
  transition: var(--transition);
}

.footer__socials .socials__link:hover path,
.footer__socials .socials__link:focus path {
  fill: var(--accent-color);
}

.footer__btn {
  margin-bottom: 15px;
  padding: 13px 19px;
  border-radius: 20px;
  font-family: "Goldman";
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.footer__number {
  margin-bottom: 9px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.7;
  transition: var(--transition);
}

.footer__number:hover,
.footer__number:focus {
  color: var(--accent-color);
  transform: scale(1.2);
}

.footer__copyright {
  font-size: 12px;
  font-weight: 600;
  line-height: 2;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400;
  line-height: var(--line-height);
}

.footer__menu .menu__title {
  font-weight: 700;
}

.footer__details {
  margin-top: 40px;
}

.details__title {
  margin-bottom: 5px;
  font-family: "Impact";
  line-height: 1.3;
}

.details__item {
  font-size: 14px;
  line-height: 1.7;
  text-transform: lowercase;
}

.dev-by {
  font-family: "Impact";
  font-size: 20px;
  line-height: var(--line-height);
}

.dev-by a {
  transition: var(--transition);
}

.dev-by a:hover {
  color: var(--accent-color);
}

.dev-by::after {
  content: "";
  display: block;
  width: 204px;
  height: 14px;
  margin-top: 5px;
  background: url(../assets/img/decoration/Footer-underline.png) center center /
    cover no-repeat;
}

.dev-by--mobile {
  display: none;
}

.modal {
  display: flex;
  justify-content: center;
  padding: 15px;
  align-items: center;
  position: fixed;
  inset: 0;
  background: #000000d4;
  z-index: 11;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
}

.body--opened-modal .modal {
  opacity: 1;
  visibility: visible;
}

.modal__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: calc(var(--modal-width) * 1px); */
  padding: 30px 101px 42px 104px;
  border-radius: 42px;
  text-align: center;
  background-color: var(--color-white);
}

.modal__title {
  margin-bottom: 6px;
  font-family: "Impact";
  font-size: 62px;
  line-height: 1.2;
}

.modal__close {
  position: absolute;
  top: 5%;
  right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  aspect-ratio: 1;
  border-radius: 50%;
  transform: rotate(45deg);
  background-color: black;
}

.modal__close path {
  transition: var(--transition);
}

.modal__close:hover path,
.modal__close:focus path {
  stroke: var(--accent-color);
}

.modal__subtitle {
  max-width: 424px;
  margin-bottom: 37px;
  font-size: 20px;
  font-weight: 600;
  line-height: var(--line-height);
}

.modal__subtitle .accent-text {
  font-weight: 600;
}

.modal__subtitle .accent-text::before {
  width: 105%;
  height: 100%;
  top: 0px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: start;
}

.modal__input {
  width: 100%;
  border: 1px solid #1a1a1a;
  border-radius: 18px;
  padding: 16px 25px;
  transition: var(--transition);
}

.modal__input:hover {
  border-color: var(--accent-color);
  cursor: pointer;
}

.modal__input::placeholder {
  font-size: 12px;
  color: #1a1a1a;
  white-space: nowrap;
}

.modal__form label:first-child {
  margin-bottom: 19px;
}

.modal__form label:nth-child(2) {
  margin-bottom: 16px;
}

.modal__form:last-child label {
  font-size: 14px;
}

.modal__form a {
  text-decoration: underline;
}

.modal__btn {
  margin-top: 22px;
  padding: 15px 38px 14px 28px;
  border-radius: 18px;
  font-size: 14px;
  font-weight: 700;
}
