:root {
  /* Colors */
  --color-white: #fff;
  --color-black: #1e1e1e;
  --accent-color: #0049ff;

  /* Transition */
  --transition: all 0.4s;

  /* Line-height */
  --line-height: 1.2;

  /* Border-radius */
  --border-radius: 32px;

  /* Base-width */
  --wrapper-width: 1880px;
  --modal-width: 684px;
}
