/* Hero */
.hero__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 54px 0 120px;
  padding-top: 54px;
}

.hero__title {
  max-width: 772px;
  margin-bottom: 36px;
  font-size: 92px;
  line-height: var(--line-height);
  text-align: center;
}

.hero__subtitle {
  margin-bottom: 141px;
  font-size: 32px;
  font-weight: 600;
  line-height: var(--line-height);
}

.hero__subtitle .accent-text::before {
  width: 105%;
  height: 120%;
  top: -3px;
}

.articles {
  display: flex;
  gap: 34px;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.articles__item {
  padding: 20px 20px 36px 20px;
  border-radius: var(--border-radius);
  background-color: var(--color-black);
  color: var(--color-white);
}

.article__img {
  margin-bottom: 8px;
}

.article__date {
  margin-bottom: 6px;
  font-weight: 600;
  line-height: var(--line-height);
}

.article__date .accent-text::before {
  top: 2px;
}

.article__title {
  margin: 0 0 12px 6px;
  font-size: 20px;
  font-weight: 700;
  line-height: var(--line-height);
}

.article__text {
  max-width: 260px;
  line-height: var(--line-height);
}

.hero__btn {
  padding: 19px 49px;
  border-radius: 22px;
  font-size: 20px;
  font-weight: 700;
  line-height: var(--line-height);
}

.hero__btn:hover,
.hero__btn:focus {
  background-color: var(--color-black);
}

/* Contact */
.contact__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 29px;
  padding-bottom: 125px;
}

.contact__heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 1265px;
  width: 100%;
}

.contact__subtitle {
  font-size: 22px;
  line-height: var(--line-height);
}

.contact__body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  width: 100%;
}

.contact__img {
  max-width: 611px;
}

.contact__img img {
  width: 100%;
}

.contact__form {
  max-width: 566px;
}

.form__title {
  margin-bottom: 8px;
  font-family: "Impact";
  font-size: 36px;
  color: #1a1a1a;
}

.form__subtitle {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 25px;
  font-size: 14px;
  color: #1a1a1a;
}

.form__subtitle::after {
  content: "";
  width: 167px;
  height: 2px;
  background-color: var(--accent-color);
}

.form__socials {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 19px;
}

.form__socials svg,
.form__socials path {
  transition: var(--transition);
}

.form__socials .socials__link:hover svg,
.form__socials .socials__link:focus svg {
  transform: scale(1.2);
}

.form__socials .socials__link:hover path,
.form__socials .socials__link:focus path {
  fill: var(--accent-color);
}

.form__inputs {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  line-height: 1.2;
}

.form__input,
.form__textarea {
  border: 1px solid #1a1a1a;
  border-radius: 18px;
  padding: 16px 25px;
  transition: var(--transition);
}

.form__input:hover,
.form__textarea:hover {
  border-color: var(--accent-color);
  cursor: pointer;
}

.form__input::placeholder,
.form__textarea::placeholder {
  font-size: 12px;
  color: #1a1a1a;
  white-space: nowrap;
}

.form__input {
  min-width: 270px;
}

.contact__textarea {
  width: 100%;
}

.form__textarea {
  max-width: 564px;
  width: 100%;
  min-height: 161px;
  margin: 35px 0 24px;
}

.form__inputs:last-child label {
  font-size: 14px;
}

.form__inputs a {
  text-decoration: underline;
}

.form__btn {
  margin-top: 39px;
  padding: 15px 38px 14px 28px;
  border-radius: 18px;
  font-size: 14px;
  font-weight: 700;
}

.form__btn:hover,
.form__btn:focus {
  background-color: var(--color-black);
}
