/* Hero */
.hero__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
  padding-bottom: 140px;
}

.hero__title {
  margin-bottom: 79px;
  font-size: 78px;
  line-height: 1.2;
}

.hero__subtitle {
  max-width: 509px;
  margin-bottom: 26px;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.2;
}

.hero__btn {
  display: flex;
  align-items: center;
  gap: 70px;
  padding: 10px 6px 10px 97px;
  border-radius: 32px;
  font-family: "Impact";
  font-size: 24px;
}

.hero__btn img {
  width: 56px;
  aspect-ratio: 1;
}

.hero__btn:hover,
.hero__btn:focus {
  background-color: var(--color-black);
}

.hero__img {
  max-width: 754px;
  width: 100%;
  height: 683px;
  padding: 80px 0 0 32px;
  background: url("../../assets/img/decoration/Hero.png") center center / cover
    no-repeat;
  border-radius: 32px;
  color: var(--color-white);
  font-family: "Bebas Neue Cyrillic";
  font-size: 31px;
  line-height: 1;
}

.hero__list {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-bottom: 35px;
}

.hero__item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.hero__img p {
  position: relative;
}

.hero__img p:after {
  content: "";
  position: absolute;
  bottom: -90%;
  left: 0%;
  width: 342px;
  height: 19px;
  background: url(../../assets/img/decoration/Hero-underline.png) center center /
    cover no-repeat;
}

/* Services */
.services__inner {
  display: flex;
  flex-direction: column;
  padding-bottom: 120px;
}

.services__title {
  margin-bottom: 36px;
}

.services__title b {
  display: block;
  text-align: end;
  font-weight: 400;
}

.services__list {
  max-width: 1351px;
}

.services__item {
  padding: 20px 20px 24px;
  background-color: var(--color-black);
  border-radius: 32px;
  box-shadow: 4px 4px 4px 0 rgba(30, 30, 30, 0.2);
}

.service__img {
  margin-bottom: 12px;
}

.service__title {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 700;
  color: var(--color-white);
  line-height: 1.2;
}

.service__term {
  margin-bottom: 8px;
  font-weight: 600;
  line-height: 1.2;
}

.services__item .accent-text::before {
  width: 30%;
  height: 120%;
  top: 0px;
}

.service__price {
  margin-bottom: 26px;
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-white);
}

.service__price strong {
  font-weight: 700;
  font-size: 26px;
}

.service__btn {
  padding: 19px 74px;
  border-radius: 22px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

.services__nav {
  display: flex;
  align-self: flex-end;
  gap: 25px;
  margin-top: 28px;
}

.services__prev,
.services__next {
  transition: var(--transition);
}

.services__prev:hover,
.services__next:hover {
  transform: scale(1.1);
}

.services__prev:hover svg,
.services__next:hover svg {
  fill: var(--accent-color);
}

/* Present */
.present__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 121px;
  padding: 133px 0 60px;
  border-radius: 32px;
  background-color: var(--color-black);
}

.present__inner::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 26%;
  aspect-ratio: 1;
  background: url(../../assets/img/decoration/present-ellipse.png) center center /
    cover no-repeat;
  border-radius: 32px;
}

.present__title {
  max-width: 539px;
  margin-bottom: 20px;
  font-size: 70px;
  line-height: 1.2;
  color: var(--color-white);
}

.present__subtitle {
  margin-bottom: 79px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  color: var(--color-white);
}

.present__btn {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 10px 6px 10px 96px;
  border-radius: 32px;
  font-family: "Impact";
  font-size: 28px;
  line-height: 1.2;
  text-transform: uppercase;
}

.present__btn img {
  width: 56px;
  aspect-ratio: 1;
}
