/* Hero */
.hero__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
  padding-bottom: 140px;
}

.hero__title {
  margin-bottom: 79px;
  font-size: 78px;
  line-height: 1.2;
}

.hero__subtitle {
  max-width: 509px;
  margin-bottom: 26px;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.2;
}

.hero__btn {
  display: flex;
  align-items: center;
  gap: 70px;
  padding: 10px 6px 10px 97px;
  border-radius: 32px;
  font-family: "Impact";
  font-size: 24px;
}

.hero__btn img {
  width: 56px;
  aspect-ratio: 1;
}

.hero__btn:hover,
.hero__btn:focus {
  background-color: var(--color-black);
}

.hero__img {
  max-width: 754px;
  width: 100%;
  height: 683px;
  padding: 80px 0 0 32px;
  background: url("../../assets/img/decoration/Hero.png") center center / cover
    no-repeat;
  border-radius: 32px;
  color: var(--color-white);
  font-family: "Bebas Neue Cyrillic";
  font-size: 31px;
  line-height: 1;
}

.hero__list {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-bottom: 35px;
}

.hero__item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.hero__img p {
  position: relative;
}

.hero__img p:after {
  content: "";
  position: absolute;
  bottom: -90%;
  left: 0%;
  width: 342px;
  height: 19px;
  background: url(../../assets/img/decoration/Hero-underline.png) center center /
    cover no-repeat;
}

/* Services */
.services__inner {
  display: flex;
  flex-direction: column;
  padding-bottom: 120px;
}

.services__title {
  margin-bottom: 36px;
  line-height: 1.2;
}

.services__title b {
  display: block;
  text-align: end;
  font-weight: 400;
}

.services__list {
  max-width: 1351px;
}

.services__item {
  padding: 20px 20px 24px;
  background-color: var(--color-black);
  border-radius: 32px;
  box-shadow: 4px 4px 4px 0 rgba(30, 30, 30, 0.2);
}

.service__img {
  margin-bottom: 12px;
}

.service__title {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 700;
  color: var(--color-white);
  line-height: 1.2;
}

.service__term {
  margin-bottom: 8px;
  font-weight: 600;
  line-height: 1.2;
}

.services__item .accent-text::before {
  width: 30%;
  height: 120%;
  top: 0px;
}

.service__price {
  margin-bottom: 26px;
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-white);
}

.service__price strong {
  font-weight: 700;
  font-size: 26px;
}

.service__btn {
  padding: 19px 74px;
  border-radius: 22px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

.services__nav {
  display: flex;
  align-self: flex-end;
  gap: 25px;
  margin-top: 28px;
}

.services__prev,
.services__next {
  transition: var(--transition);
}

.services__prev:hover,
.services__next:hover,
.services__prev:focus,
.services__next:focus {
  transform: scale(1.1);
}

.services__prev:hover svg,
.services__next:hover svg,
.services__prev:focus svg,
.services__next:focus svg {
  fill: var(--accent-color);
}

/* Present */
.present__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 121px;
  padding: 133px 0 60px;
  border-radius: 32px;
  background-color: var(--color-black);
  z-index: 0;
}

.present__inner::before,
.present__inner::after {
  content: "";
  position: absolute;
  aspect-ratio: 1;
  border-radius: 32px;
}

.present__inner::before {
  top: 0%;
  left: 0%;
  width: 26%;
  background: url(../../assets/img/decoration/present-ellipse.png) center center /
    cover no-repeat;
}

.present__inner::after {
  bottom: 0;
  right: 0;
  width: 25%;
  background: url(../../assets/img/decoration/Present.png) center center / cover
    no-repeat;
}

.present__title {
  max-width: 539px;
  margin-bottom: 20px;
  font-size: 70px;
  line-height: 1.2;
  color: var(--color-white);
}

.present__subtitle {
  margin-bottom: 79px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  color: var(--color-white);
}

.present__btn {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 10px 6px 10px 96px;
  border-radius: 32px;
  font-family: "Impact";
  font-size: 28px;
  line-height: 1.2;
  text-transform: uppercase;
}

.present__btn img {
  width: 56px;
  aspect-ratio: 1;
}

/* Advantages */
.advantages__inner {
  padding-bottom: 120px;
}

.advantages__title {
  margin-bottom: 40px;
  line-height: 1.2;
}

.advantages__title b {
  display: block;
  font-weight: 400;
  text-align: end;
}

.advantages__subtitle {
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 28px;
  line-height: 1.2;
}

.advantages__subtitle .accent-text::before {
  width: 115%;
  height: 80%;
  top: 5px;
}

.advantages__list {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 32px 23px;
}

.advantages__item {
  position: relative;
  max-width: 327px;
  min-height: 326px;
  padding: 25px 0 0 23px;
  background: url("../../assets/img/decoration/advantage-black.png") center
    center / 98% no-repeat;
  z-index: -2;
}

.advantages__item::after {
  content: "";
  position: absolute;
  right: 0%;
  bottom: 0%;
  display: block;
  background: url("../../assets/img/icons/Advantage-arrow-black.svg") center
    center / 100% no-repeat;
  width: 70px;
  aspect-ratio: 1;
}

.advantages__item:nth-child(4) {
  justify-self: end;
}

.advantages__item--blue {
  background: url("../../assets/img/decoration/advantage-blue.png") center
    center / 98% no-repeat;
}

.advantages__item--blue::after {
  background: url("../../assets/img/icons/Advantage-arrow-blue.svg") center
    center / 100% no-repeat;
}

.advantages__item--decorative {
  background: url("../../assets/img/decoration/advantage-girl.png") center
    center / 100% no-repeat;
}

.advantages__item--decorative::after {
  display: none;
}

.advantage__title {
  font-family: "Impact";
  font-size: 38px;
  color: var(--color-white);
}

.advantage__title::after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  margin: 8px 0 19px;
  background-color: var(--color-white);
}

.advantage__text {
  line-height: 1.5;
  color: var(--color-white);
}

.advantage__text .accent-text::before {
  width: 104%;
  height: 120%;
  top: 0px;
}

.advantages__item--blue .advantage__text .accent-text::before {
  background-color: var(--color-black);
}
