/* Hero */
.hero__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
}

.hero__title {
  margin-bottom: 79px;
  font-size: 78px;
  line-height: 1.2;
}

.hero__subtitle {
  max-width: 509px;
  margin-bottom: 26px;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.2;
}

.hero__btn {
  display: flex;
  align-items: center;
  gap: 70px;
  padding: 10px 6px 10px 97px;
  border-radius: 32px;
  font-family: "Impact";
  font-size: 24px;
}

.hero__btn img {
  width: 56px;
  aspect-ratio: 1;
}

.hero__btn:hover {
  background-color: var(--color-black);
}

.hero__img {
  max-width: 754px;
  width: 100%;
  height: 683px;
  padding: 80px 0 0 32px;
  background: url("../../assets/img/decoration/Hero.png") center center / cover
    no-repeat;
  border-radius: 32px;
  color: var(--color-white);
  font-family: "Bebas Neue Cyrillic";
  font-size: 31px;
  line-height: 1;
}

.hero__list {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-bottom: 35px;
}

.hero__item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.hero__img p {
  position: relative;
}

.hero__img p:after {
  content: "";
  position: absolute;
  bottom: -90%;
  left: 0%;
  width: 342px;
  height: 19px;
  background: url(../../assets/img/decoration/Hero-underline.png) center center /
    cover no-repeat;
}
