/* Hero */
.hero__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
  padding-bottom: 140px;
}

.hero__title {
  margin-bottom: 79px;
  font-size: 78px;
  line-height: var(--line-height);
}

.hero__subtitle {
  max-width: 509px;
  margin-bottom: 26px;
  font-size: 28px;
  font-weight: 600;
  line-height: var(--line-height);
}

.hero__btn {
  display: flex;
  align-items: center;
  gap: 70px;
  padding: 10px 6px 10px 97px;
  border-radius: var(--border-radius);
  font-family: "Impact";
  font-size: 24px;
}

.hero__btn img {
  width: 56px;
  aspect-ratio: 1;
}

.hero__btn:hover,
.hero__btn:focus {
  background-color: var(--color-black);
}

.hero__img {
  max-width: 754px;
  width: 100%;
  height: 683px;
  padding: 80px 0 0 32px;
  background: url("../../assets/img/decoration/Hero.png") center center / cover
    no-repeat;
  border-radius: var(--border-radius);
  color: var(--color-white);
  font-family: "Bebas Neue Cyrillic";
  font-size: 31px;
  line-height: 1;
}

.hero__list {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-bottom: 35px;
}

.hero__item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.hero__img p {
  position: relative;
}

.hero__img p:after {
  content: "";
  position: absolute;
  bottom: -90%;
  left: 0%;
  width: 342px;
  height: 19px;
  background: url(../../assets/img/decoration/Hero-underline.png) center center /
    cover no-repeat;
}

/* Services */
.services__inner {
  display: flex;
  flex-direction: column;
  padding-bottom: 120px;
}

.services__title {
  margin-bottom: 36px;
  line-height: var(--line-height);
}

.services__title b {
  display: block;
  text-align: end;
  font-weight: 400;
}

.services__list {
  max-width: 976px;
}

.services__item {
  padding: 20px 20px 24px;
  background-color: var(--color-black);
  border-radius: var(--border-radius);
  box-shadow: 4px 4px 4px 0 rgba(30, 30, 30, 0.2);
}

.service__img {
  margin-bottom: 12px;
}

.service__title {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 700;
  color: var(--color-white);
  line-height: var(--line-height);
}

.service__term {
  margin-bottom: 8px;
  font-weight: 600;
  line-height: var(--line-height);
}

.services__item .accent-text::before {
  width: 30%;
  height: 120%;
  top: 0px;
}

.service__price {
  margin-bottom: 26px;
  font-size: 20px;
  line-height: var(--line-height);
  color: var(--color-white);
}

.service__price strong {
  font-weight: 700;
  font-size: 26px;
}

.service__btn {
  padding: 19px 74px;
  border-radius: 22px;
  font-size: 20px;
  font-weight: 700;
  line-height: var(--line-height);
}

.services__nav {
  display: flex;
  align-self: flex-end;
  gap: 25px;
  margin-top: 28px;
}

.services__prev,
.services__next {
  transition: var(--transition);
}

.services__prev:hover,
.services__next:hover,
.services__prev:focus,
.services__next:focus {
  transform: scale(1.1);
}

.services__prev:hover svg,
.services__next:hover svg,
.services__prev:focus svg,
.services__next:focus svg {
  fill: var(--accent-color);
}

/* Present */
.present__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 121px;
  padding: 133px 0 60px;
  border-radius: var(--border-radius);
  background-color: var(--color-black);
  z-index: 0;
}

.present__inner::before,
.present__inner::after {
  content: "";
  position: absolute;
  aspect-ratio: 1;
  border-radius: var(--border-radius);
}

.present__inner::before {
  top: 0%;
  left: 0%;
  width: 26%;
  background: url(../../assets/img/decoration/present-ellipse.png) center center /
    cover no-repeat;
}

.present__inner::after {
  bottom: 0;
  right: 0;
  width: 25%;
  background: url(../../assets/img/decoration/Present.png) center center / cover
    no-repeat;
}

.present__title {
  max-width: 539px;
  margin-bottom: 20px;
  font-size: 70px;
  line-height: var(--line-height);
  color: var(--color-white);
}

.present__subtitle {
  margin-bottom: 79px;
  font-size: 24px;
  font-weight: 600;
  line-height: var(--line-height);
  color: var(--color-white);
}

.present__btn {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 10px 6px 10px 96px;
  border-radius: var(--border-radius);
  font-family: "Impact";
  font-size: 28px;
  line-height: var(--line-height);
  text-transform: uppercase;
}

.present__btn img {
  width: 56px;
  aspect-ratio: 1;
}

/* Advantages */
.advantages__inner {
  padding-bottom: 120px;
}

.advantages__title {
  margin-bottom: 40px;
  line-height: var(--line-height);
}

.advantages__title b {
  display: block;
  font-weight: 400;
  text-align: end;
}

.advantages__subtitle {
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 28px;
  line-height: var(--line-height);
}

.advantages__subtitle .accent-text::before {
  width: 115%;
  height: 80%;
  top: 5px;
}

.advantages__list {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 32px 23px;
}

.advantages__list--slider {
  display: none;
}

.advantages__item {
  position: relative;
  max-width: 327px;
  min-height: 326px;
  padding: 25px 0 0 23px;
  background: url("../../assets/img/decoration/advantage-black.png") center
    center / 98% no-repeat;
  z-index: -2;
}

.advantages__item::after {
  content: "";
  position: absolute;
  right: 0%;
  bottom: 0%;
  display: block;
  background: url("../../assets/img/icons/Advantage-arrow-black.svg") center
    center / 100% no-repeat;
  width: 70px;
  aspect-ratio: 1;
}

.advantages__item:nth-child(4) {
  justify-self: end;
}

.advantages__item--blue,
.advantages__list--slider .advantages__item:nth-child(2n) {
  background: url("../../assets/img/decoration/advantage-blue.png") center
    center / 98% no-repeat;
}

.advantages__item--blue::after,
.advantages__list--slider .advantages__item:nth-child(2n)::after {
  background: url("../../assets/img/icons/Advantage-arrow-blue.svg") center
    center / 100% no-repeat;
}

.advantages__item--decorative {
  background: url("../../assets/img/decoration/advantage-girl.png") center
    center / 100% no-repeat;
}

.advantages__item--decorative::after {
  display: none;
}

.advantage__title {
  font-family: "Impact";
  font-size: 38px;
  color: var(--color-white);
}

.advantage__title::after {
  content: "";
  display: block;
  width: 100px;
  height: 3px;
  margin: 8px 0 19px;
  background-color: var(--color-white);
}

.advantage__text {
  line-height: 1.5;
  color: var(--color-white);
}

.advantage__text .accent-text::before {
  width: 104%;
  height: 120%;
  top: 0px;
}

.advantages__item--blue .advantage__text .accent-text::before,
.advantages__list--slider
  .advantages__item:nth-child(2n)
  .advantage__text
  .accent-text::before {
  background-color: var(--color-black);
}

.advantages__nav {
  display: none;
}

.advantages__prev,
.advantages__next {
  transition: var(--transition);
}

.advantages__prev:hover,
.advantages__next:hover,
.advantages__prev:focus,
.advantages__next:focus {
  transform: scale(1.1);
}

.advantages__prev:hover svg,
.advantages__next:hover svg,
.advantages__prev:focus svg,
.advantages__next:focus svg {
  fill: var(--accent-color);
}

/* Stages */
.stages__inner {
  position: relative;
  margin-bottom: 120px;
  padding: 50px 34px 80px;
  background-color: var(--color-black);
  border-radius: var(--border-radius);
  color: var(--color-white);
  overflow: hidden;
}

.stages__title {
  margin-bottom: 42px;
  line-height: 1.1;
}

.stages__inner .accent-text {
  z-index: 1;
}

.stages__list {
  display: flex;
  flex-wrap: wrap;
  gap: 52px;
}

.stages__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 282px;
  min-height: 240px;
  padding: 20px;
  background: url("../../assets/img/decoration/Stage.svg") center center / cover
    no-repeat;
  z-index: 1;
}

.stage__number {
  align-self: flex-end;
  font-family: "Impact";
  font-size: 36px;
}

.stage__text {
  line-height: 1.5;
}

.stage__text .accent-text::before {
  height: 100%;
  top: 0px;
}

.stages__list--accordion {
  display: none;
}

.stages__item--mobile {
  border-bottom: 1px solid #ffffff40;
  overflow: hidden;
}

.stages__item--mobile .stage__number {
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: "Impact";
  font-size: 22px;
  line-height: 1.5;
}

.stages__item--mobile .stage__number b {
  width: 50px;
  margin-bottom: -25px;
  font-size: 56px;
  font-weight: 400;
  line-height: 1;
  color: #ffffff40;
  transition: var(--transition);
}

.stage--opened .stage__number b {
  margin-bottom: 0;
  color: var(--color-white);
}

.stage--opened {
  padding-bottom: 22px;
}

.stage__content {
  max-height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.stages__ellipse {
  position: absolute;
  bottom: 0%;
  right: 0%;
  max-width: 100%;
}

.stages__ellipse--mobile {
  display: none;
  position: absolute;
  top: 0%;
  right: 0%;
  max-width: 100%;
}

/* Testimonials */
.testimonials__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 120px;
}

.testimonials__title {
  align-self: flex-start;
  width: 100%;
  margin-bottom: 40px;
  line-height: 1.1;
}

.testimonials__list {
  max-width: 1252px;
  margin-bottom: 30px;
}

.testimonials__item {
  height: 240px;
  padding: 18px 23px 36px 29px;
  background-color: var(--color-black);
  border: 1.3px solid #fdfdfd;
  border-radius: 15px;
  color: var(--color-white);
  backdrop-filter: blur(42px);
}

.testimonial__head {
  position: relative;
  display: flex;
  gap: 7px;
  margin-bottom: 20px;
}

.testimonial__head::after {
  position: absolute;
  content: "";
  bottom: -8px;
  left: 0;
  width: 120px;
  height: 2px;
  background-color: var(--accent-color);
}

.testimonial__title {
  font-size: 16px;
  font-weight: 700;
  line-height: var(--line-height);
}

.testimonial__subtitle {
  max-width: 200px;
  font-size: 14px;
  text-transform: lowercase;
  color: #ffffffb3;
}

.testimonial__text {
  font-size: 14px;
  line-height: var(--line-height);
}

.testimonials__action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1250px;
}

.testimonials__btn {
  padding: 19px 74px;
  border-radius: 22px;
  font-size: 20px;
  font-weight: 700;
  line-height: var(--line-height);
  transition: var(--transition);
}

.testimonials__btn:hover,
.testimonials__btn:focus {
  background-color: var(--color-black);
}

.testimonials__nav {
  display: flex;
  gap: 22px;
}

.testimonials__prev,
.testimonials__next {
  transition: var(--transition);
}

.testimonials__prev:hover,
.testimonials__next:hover,
.testimonials__prev:focus,
.testimonials__next:focus {
  transform: scale(1.1);
}

.testimonials__prev:hover svg,
.testimonials__next:hover svg,
.testimonials__prev:focus svg,
.testimonials__next:focus svg {
  fill: var(--accent-color);
}

/* FAQ */
.faq__inner {
  position: relative;
  display: flex;
  gap: 33px;
  margin-bottom: 120px;
  padding: 53px 48px 60px 59px;
  background-color: #161616;
  border-radius: var(--border-radius);
  color: var(--color-white);
}

.faq__title {
  font-size: 70px;
  margin-bottom: 20px;
}

.faq__subtitle {
  line-height: 1.7;
}

.faq__list .faq__item:not(:last-child) {
  margin-bottom: 34px;
}

.faq__list {
  max-width: 713px;
}

.faq__item {
  border: 0.64px solid var(--color-white);
  border-radius: 13px;
  background-color: #ffffff33;
  backdrop-filter: blur(24.098539352416992px);
  transition: var(--transition);
}

.faq-item__control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 21px 52px 22px 30px;
  transition: var(--transition);
  font-family: "Impact";
  font-size: 32px;
  line-height: 0.96;
}

.faq-item__control img {
  transition: var(--transition);
}

.faq__item--opened {
  padding-bottom: 22px;
}

.faq__item--opened .faq-item__control img {
  transform: rotate(45deg);
}

.faq-item__content {
  max-height: 0;
  overflow: hidden;
  transition: var(--transition);
  padding-inline: 30px 52px;
}

.faq__ellipse {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  border-radius: var(--border-radius);
}

/* Contact */
.contact__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 29px;
  padding-bottom: 125px;
}

.contact__heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 1265px;
  width: 100%;
}

.contact__subtitle {
  font-size: 22px;
  line-height: var(--line-height);
}

.contact__body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  width: 100%;
}

.contact__img {
  max-width: 611px;
}

.contact__img img {
  width: 100%;
}

.contact__form {
  max-width: 566px;
}

.form__title {
  margin-bottom: 8px;
  font-family: "Impact";
  font-size: 36px;
  color: #1a1a1a;
}

.form__subtitle {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 25px;
  font-size: 14px;
  color: #1a1a1a;
}

.form__subtitle::after {
  content: "";
  width: 167px;
  height: 2px;
  background-color: var(--accent-color);
}

.form__socials {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 19px;
}

.form__socials svg,
.form__socials path {
  transition: var(--transition);
}

.form__socials .socials__link:hover svg,
.form__socials .socials__link:focus svg {
  transform: scale(1.2);
}

.form__socials .socials__link:hover path,
.form__socials .socials__link:focus path {
  fill: var(--accent-color);
}

.form__inputs {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
}

.form__input,
.form__textarea {
  border: 1px solid #1a1a1a;
  border-radius: 18px;
  padding: 16px 25px;
  transition: var(--transition);
}

.form__input:hover,
.form__textarea:hover {
  border-color: var(--accent-color);
  cursor: pointer;
}

.form__input::placeholder,
.form__textarea::placeholder {
  font-size: 12px;
  color: #1a1a1a;
  white-space: nowrap;
}

.form__input {
  min-width: 270px;
}

.contact__textarea {
  width: 100%;
}

.form__textarea {
  max-width: 564px;
  width: 100%;
  min-height: 161px;
  margin: 35px 0 24px;
}

.form__checkbox {
  margin: 21px 0 37px;
}

.form__inputs a {
  text-decoration: underline;
}

.form__btn {
  padding: 15px 38px 14px 28px;
  border-radius: 18px;
  font-size: 14px;
  font-weight: 700;
}

.form__btn:hover,
.form__btn:focus {
  background-color: var(--color-black);
}
