@import url("./global-media.css");

@media (max-width: 1400px) {
  /* Advantages */
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .advantages__item--decorative {
    width: 100%;
  }
}

@media (max-width: 1300px) {
  /* Contact */
  .contact__inputs {
    flex-direction: column;
  }

  .form__inputs label:first-child {
    margin-bottom: 15px;
  }

  .form__textarea {
    margin: 15px 0 24px;
  }
}

@media (max-width: 1200px) {
  /* Hero */
  .hero__inner::after {
    width: 40%;
    height: 60%;
  }

  .hero__title {
    font-size: 140px;
  }

  /* About */
  .about__img {
    width: 50%;
  }
}

@media (max-width: 1100px) {
  /* About */
  .about__inner {
    flex-direction: column;
  }

  .about__text {
    max-width: none;
  }

  .about__img {
    width: 70%;
  }

  /* Announcement */
  .announcement__inner {
    padding-inline: 100px;
  }
}

@media (max-width: 1000px) {
  /* Hero */
  .hero__inner::after {
    height: 50%;
  }

  /* Contact */
  .contact__heading {
    flex-wrap: wrap;
    row-gap: 20px;
  }

  .contact__body {
    gap: 40px;
  }
}

@media (max-width: 900px) {
  /* Hero */
  .hero__inner {
    height: 500px;
  }

  .hero__title {
    position: relative;
    margin-bottom: 20px;
    text-align: center;
    z-index: 1;
  }

  /* About */
  .about__title {
    text-align: center;
    margin-bottom: 20px;
  }

  /* Advantages */
  .advantages__title {
    font-size: 72px;
    text-align: center;
  }

  .advantages__subtitle {
    text-align: center;
  }

  .advantages__title b {
    text-align: center;
  }

  /* Announcement */
  .announcement__title {
    font-size: 60px;
  }

  .announcement__subtitle {
    font-size: 22px;
  }

  /* Contact */
  .contact__heading {
    justify-content: center;
    text-align: center;
  }

  .contact__title {
    font-size: 100px;
  }

  .contact__body {
    flex-direction: row-reverse;
  }

  .contact__img {
    max-width: 400px;
  }
}

@media (max-width: 800px) {
  /* Advantages*/
  .advantages__list {
    gap: 15px;
  }

  /* Contact */
  .contact__img {
    max-width: 300px;
  }
}

@media (max-width: 700px) {
  /* Hero */
  .hero__inner {
    height: auto;
    margin-bottom: 64px;
    padding: 20px;
  }

  .hero__inner:after {
    height: 42%;
    background: url("../../assets/img/decoration/hero-ellipse-mobile.svg")
      center center / cover no-repeat;
  }

  .hero__title {
    font-size: 100px;
  }

  .hero__text {
    font-size: 20px;
  }

  /* About */
  .about__inner {
    padding-bottom: 60px;
  }

  .about__title {
    font-size: 100px;
  }

  .about__text {
    font-size: 20px;
  }

  /* Advantages */
  .advantages__inner {
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
  }

  .advantages__list {
    display: none;
  }

  .advantages__list--slider {
    display: flex;
    max-width: 327px;
  }

  .advantages__nav {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 20px;
    margin-top: 28px;
  }

  /* Announcement */
  .announcement__inner {
    margin-bottom: 60px;
    padding: 50px 25px;
  }

  .announcement__inner::before {
    width: 35%;
  }

  .announcement__title {
    font-size: 54px;
    text-align: center;
    z-index: 2;
  }

  .announcement__title .accent-text::before {
    top: 2px;
  }

  .announcement__subtitle {
    text-align: center;
  }

  .announcement__btn {
    gap: 30px;
    padding: 10px 6px 10px 58px;
    font-size: 22px;
  }

  /* Contact */
  .contact__img {
    display: none;
  }
}

@media (max-width: 600px) {
  /* Contact */
  .form__inputs {
    flex-direction: column;
  }

  .form__input {
    width: 100%;
  }
}

@media (max-width: 500px) {
  /* Hero */
  .hero__title {
    font-size: 70px;
  }

  .hero__text {
    font-size: 18px;
  }

  /* About */
  .about__title {
    font-size: 70px;
  }

  .about__text {
    font-size: 18px;
  }

  .about__img {
    display: none;
  }

  /* Announcement */
  .announcement__inner::before {
    width: 50%;
  }

  .announcement__inner::after {
    display: none;
  }

  .announcement__title {
    margin-bottom: 26px;
    font-size: 36px;
  }

  .announcement__subtitle {
    margin-bottom: 16px;
    font-size: 18px;
    z-index: 1;
  }

  /* Contact */
  .contact__inner {
    gap: 5px;
  }

  .contact__title {
    font-size: 85px;
  }

  .contact__subtitle {
    display: none;
  }
}

@media (max-width: 390px) {
  /* Hero */
  .hero__title {
    text-align: start;
  }

  .hero__text {
    font-size: 14px;
  }

  /* About */
  .about__title {
    text-align: start;
  }

  .about__text {
    max-width: 347px;
    font-size: 16px;
  }

  /* Advantages */
  .advantages__inner {
    padding-bottom: 84px;
  }

  .advantages__title {
    margin-bottom: 18px;
    font-size: 46px;
  }

  .advantages__title .accent-text::before {
    top: 3px;
  }

  .advantages__title b {
    text-align: right;
  }

  .advantages__subtitle {
    font-size: 18px;
    text-align: start;
  }

  .advantages__subtitle .accent-text::before {
    height: 90%;
    top: 3px;
  }

  .advantages__nav {
    gap: 20px;
  }

  .advantages__nav button svg {
    width: 59px;
    aspect-ratio: 1;
  }

  /* Announcement */
  .announcement__inner {
    margin-bottom: 83px;
    padding: 39px 52px 45px;
  }

  .announcement__title {
    margin-bottom: 6px;
    font-size: 24px;
  }

  .announcement__subtitle {
    margin-bottom: 14px;
    font-size: 16px;
  }

  .announcement__btn {
    padding: 5px 6px 5px 58px;
    font-size: 10px;
  }

  .announcement__btn img {
    width: 34px;
  }

  /* Contact */
  .contact__inner {
    padding-bottom: 84px;
  }

  .form__subtitle {
    margin-bottom: 20px;
  }
}
