@import url("./global-media.css");

@import url("./global-media.css");

@media (max-width: 1300px) {
  /* Contact */
  .contact__inputs {
    flex-direction: column;
  }

  .form__inputs label:first-child {
    margin-bottom: 15px;
  }

  .form__textarea {
    margin: 15px 0 24px;
  }
}

@media (max-width: 1000px) {
  /* Contact */
  .contact__heading {
    flex-wrap: wrap;
    row-gap: 20px;
  }

  .contact__body {
    gap: 40px;
  }
}

@media (max-width: 900px) {
  /* Article */
  .article__title {
    font-size: 72px;
  }

  /* Contact */
  .contact__heading {
    justify-content: center;
    text-align: center;
  }

  .contact__title {
    font-size: 100px;
  }

  .contact__body {
    flex-direction: row-reverse;
  }

  .contact__img {
    max-width: 400px;
  }
}

@media (max-width: 800px) {
  /* Contact */
  .contact__img {
    max-width: 300px;
  }
}

@media (max-width: 700px) {
  /* Article */
  .article__title {
    font-size: 58px;
  }

  .article__title:before {
    margin-right: 5px;
  }

  .article__title:after {
    margin: 0 0 0 5px;
  }

  /* Contact */
  .contact__img {
    display: none;
  }
}

@media (max-width: 600px) {
  /* Article */

  .article__title {
    font-size: 42px;
  }

  .article__title::before,
  .article__title::after {
    background-size: 75%;
    background-repeat: no-repeat;
  }

  .article__content {
    padding: 30px 10px 30px 16px;
  }

  /* Contact */
  .form__inputs {
    flex-direction: column;
  }

  .form__input {
    width: 100%;
  }
}

@media (max-width: 500px) {
  /* Article */

  .article__title {
    margin-bottom: 139px;
  }

  .article__title::before,
  .article__title::after {
    width: 20px;
    margin-inline: 0;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .article__title:before {
    margin-top: -20px;
  }

  .article__title:after {
    margin-bottom: -20px;
  }

  .article__img {
    margin-bottom: 15px;
  }

  .article__content {
    margin-bottom: 60px;
    font-size: 16px;
    line-height: 1.5;
  }
  /* Contact */
  .contact__inner {
    gap: 5px;
  }

  .contact__title {
    font-size: 85px;
  }

  .contact__subtitle {
    display: none;
  }
}

@media (max-width: 390px) {
  /* Contact */
  .contact__inner {
    padding-bottom: 84px;
  }

  .form__subtitle {
    margin-bottom: 20px;
  }
}
