@import url("./global-media.css");

@media (max-width: 1300px) {
  /* Contact */
  .contact__inputs {
    flex-direction: column;
  }

  .form__inputs label:first-child {
    margin-bottom: 15px;
  }

  .form__textarea {
    margin: 15px 0 24px;
  }
}

@media (max-width: 1000px) {
  /* Contact */
  .contact__heading {
    flex-wrap: wrap;
    row-gap: 20px;
  }

  .contact__body {
    gap: 40px;
  }
}

@media (max-width: 900px) {
  /* Hero */
  .hero__title {
    margin-bottom: 24px;
    font-size: 72px;
  }

  .hero__subtitle {
    font-size: 24px;
  }

  /* Contact */
  .contact__heading {
    justify-content: center;
    text-align: center;
  }

  .contact__title {
    font-size: 100px;
  }

  .contact__body {
    flex-direction: row-reverse;
  }

  .contact__img {
    max-width: 400px;
  }
}

@media (max-width: 800px) {
  /* Contact */
  .contact__img {
    max-width: 300px;
  }
}

@media (max-width: 700px) {
  /* Contact */
  .contact__img {
    display: none;
  }
}

@media (max-width: 600px) {
  /* Hero */

  .hero__subtitle {
    margin-bottom: 97px;
  }

  .articles {
    row-gap: 40px;
    margin-bottom: 32px;
  }

  .articles__item {
    max-width: 400px;
  }

  /* Contact */
  .form__inputs {
    flex-direction: column;
  }

  .form__input {
    width: 100%;
  }
}

@media (max-width: 500px) {
  /* Hero */
  .hero__title {
    margin-bottom: 12px;
    font-size: 58px;
  }

  .hero__subtitle {
    font-size: 18px;
  }

  .articles__item {
    max-width: 312px;
  }

  /* Contact */
  .contact__inner {
    gap: 5px;
  }

  .contact__title {
    font-size: 85px;
  }

  .contact__subtitle {
    display: none;
  }
}

@media (max-width: 390px) {
  /* Hero */
  .hero__title {
    font-size: 42px;
  }

  .hero__subtitle {
    font-size: 16px;
  }

  /* Contact */
  .contact__inner {
    padding-bottom: 84px;
  }

  .form__subtitle {
    margin-bottom: 20px;
  }
}
