@import url("./global-media.css");

@media (max-width: 1200px) {
  .hero__top {
    flex-direction: column;
    align-items: start;
  }

  .hero__top::after {
    background-size: 60%;
  }

  .hero__btn {
    margin-top: 120px;
  }
}

@media (max-width: 900px) {
  .hero__top::after {
    right: -12%;
  }

  .hero__title {
    font-size: 60px;
  }
}

@media (max-width: 600px) {
  .hero__top {
    flex-direction: row;
    align-items: end;
    height: auto;
  }

  .hero__top::after {
    top: -60%;
    right: -35%;
    background-size: 30%;
  }

  .hero__title {
    font-size: 40px;
  }

  .hero__btn {
    margin-top: 0;
  }
}

@media (max-width: 500px) {
  /* Hero */
  .hero__inner {
    padding-top: 0;
  }

  .hero__top {
    gap: 20px;
    margin-bottom: 38px;
  }

  .hero__top::after {
    top: -80%;
  }

  .hero__img img {
    width: 154px;
  }

  .hero__title {
    font-size: 20px;
  }

  .hero__btn {
    padding-block: 5px;
    font-size: 24px;
  }

  .hero__btn img {
    width: 40px;
  }
}

@media (max-width: 390px) {
  /* Hero */
  .hero__btn {
    font-size: 18px;
  }
}
