/* @media (min-width: 1441px) {
  .wrapper {
    zoom: calc(100vw / var(--wrapper-width));
  }

  .modal__wrapper {
    zoom: calc(35vw / var(--modal-width));
  }
} */

@media (max-width: 1200px) {
  /* Modal */
  .modal__wrapper {
    padding-inline: 45px;
  }
}

@media (max-width: 1000px) {
  .modal__subtitle .accent-text {
    color: var(--color-black);
  }

  .modal__subtitle .accent-text::before {
    display: none;
  }
}

@media (max-width: 900px) {
  /* Header */
  .header__wrapper {
    position: fixed;
    top: 15%;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--color-white);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--transition);
    z-index: 2;
    overflow-y: auto;
  }

  .header__menu {
    display: none;
  }

  .header__wrapper--active {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .header__burger {
    display: flex;
  }

  .header__wrapper--active .header__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 32px;
    gap: 80px;
    margin-top: 80px;
  }

  /* Footer */
  .footer__content {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }

  .footer__nav {
    max-width: 500px;
    width: 100%;
    justify-content: space-between;
  }

  .footer__menu {
    text-align: center;
  }

  .footer__details {
    text-align: center;
  }

  .dev-by {
    display: none;
  }

  .dev-by--mobile {
    display: block;
    margin-top: 30px;
  }

  /* Modal */
  .modal__wrapper {
    width: 85%;
  }

  .modal__title {
    font-size: 48px;
  }

  .modal__subtitle {
    font-size: 18px;
  }
}

@media (max-width: 700px) {
  /* Header*/
  .header__btn {
    display: none;
  }

  .header__wrapper--active {
    gap: 60px;
  }

  .header__wrapper--active .header__menu {
    gap: 50px;
  }

  .header__wrapper--active .header__btn--active {
    display: flex;
  }
}

@media (max-width: 500px) {
  /* Footer */

  .footer__inner {
    padding: 26px 56px 40px 54px;
    margin-bottom: 24px;
  }

  .footer__nav {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  .footer__menu {
    margin-top: 0;
  }

  .dev-by--mobile {
    white-space: nowrap;
  }

  /* Modal */
  .modal__wrapper {
    max-width: 344px;
    width: 100%;
    padding: 14px 45px 21px 52px;
  }

  .modal__title {
    margin-top: 40px;
    font-size: 38px;
  }

  .modal__subtitle {
    font-size: 15px;
  }

  .modal__close {
    top: 1%;
    right: 44%;
    width: 30px;
  }
}

@media (max-width: 390px) {
  /* Header */
  .header__logo svg {
    width: 55px;
    height: 42px;
  }

  .header__burger {
    padding: 0;
    padding-left: 19px;
    font-size: 14px;
  }

  .header__wrapper--active {
    gap: 40px;
  }

  .header__wrapper--active .header__menu {
    font-size: 24px;
    gap: 35px;
    margin-top: 30px;
  }

  .header__btn--active {
    font-size: 22px;
  }

  /* Footer */
  .dev-by--mobile {
    text-align: center;
  }

  .dev-by--mobile::after {
    margin-left: 15px;
  }

  /* Modal */
  .modal__title {
    margin-bottom: 4px;
    font-size: 30px;
  }

  .modal__subtitle {
    margin-bottom: 9px;
    font-size: 12px;
  }

  .modal__input {
    padding: 8px 0 7px 7px;
  }

  .modal__form label:first-child {
    margin-bottom: 9px;
  }

  .modal__form:last-child label {
    margin-bottom: 7px;
  }

  .modal__btn {
    margin-top: 11px;
    padding: 5px 57px 5px;
    font-size: 12px;
  }
}
