@import url("./global-media.css");

@media (min-width: 1440px) {
  /* Services */
  .services__list {
    max-width: 1350px;
  }
}

@media (max-width: 1400px) {
  /* Services */
  .services__list {
    max-width: 976px;
  }

  /* Advantages */
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .advantages__item--decorative {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  /* Services */
  .services__list {
    max-width: 650px;
  }
}

@media (max-width: 900px) {
  /* Hero */
  .hero__inner {
    flex-direction: column;
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  /* Services */
  .services__nav {
    align-self: center;
  }

  .services__title {
    font-size: 72px;
    text-align: center;
  }

  .services__title b {
    text-align: center;
  }

  /* Advantages */

  .advantages__title {
    font-size: 72px;
    text-align: center;
  }

  .advantages__subtitle {
    text-align: center;
  }

  .advantages__title b {
    text-align: center;
  }

  /* Stages */
  .stages__list {
    justify-content: center;
  }

  .stages__item {
    background: none;
    background-color: #4b4b4b;
    border: 2px solid #ffffff66;
    border-radius: 16px;
  }

  .stages__title {
    font-size: 72px;
    text-align: center;
  }

  .stages__title b {
    text-align: center;
  }
}

@media (max-width: 800px) {
  /* Advantages*/
  .advantages__list {
    gap: 15px;
  }

  /* Stages */
  .stages__list {
    gap: 25px;
  }
}

@media (max-width: 700px) {
  /* Hero */
  .hero__inner {
    padding-bottom: 84px;
  }

  .hero__title {
    margin-bottom: 60px;
  }

  .hero__img {
    padding: 32px 0 0 32px;
  }

  /* Services */
  .services__inner {
    padding-bottom: 85px;
  }

  .services__title {
    font-size: 54px;
  }

  .services__list {
    max-width: 312px;
  }

  /* Present */
  .present__inner {
    padding-block: 50px;
  }

  .present__inner::before {
    width: 35%;
  }

  .present__title {
    font-size: 54px;
    text-align: center;
    z-index: 2;
  }

  .present__title .accent-text::before {
    top: 2px;
  }

  .present__subtitle {
    text-align: center;
  }

  .present__btn {
    gap: 30px;
    padding: 10px 6px 10px 58px;
    font-size: 22px;
  }

  /* Advantages */
  .advantages__inner {
    display: flex;
    flex-direction: column;
  }

  .advantages__list {
    display: none;
  }

  .advantages__list--slider {
    display: flex;
    max-width: 327px;
  }

  .advantages__nav {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 20px;
    margin-top: 28px;
  }

  /* Stages */
  .stages__list {
    flex-direction: column;
    align-items: center;
  }

  .stages__item {
    justify-content: flex-start;
    gap: 10px;
    max-width: none;
    min-height: 134px;
    width: 100%;
    padding: 10px;
  }

  .stage__number {
    align-self: center;
  }
}

@media (max-width: 600px) {
  /* Hero */
  .hero__title {
    font-size: 60px;
  }

  .hero__subtitle {
    font-size: 22px;
  }

  /* Stages */
  .stages__inner {
    padding: 23px 16px 30px 15px;
  }

  .stages__list {
    display: none;
  }

  .stages__list--accordion {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }

  .stages__ellipse {
    display: none;
  }

  .stages__ellipse--mobile {
    display: block;
  }
}

@media (max-width: 500px) {
  /* Hero */
  .hero__img {
    display: none;
  }

  /* Present */
  .present__inner::before {
    width: 50%;
  }

  .present__inner::after {
    display: none;
  }

  .present__title {
    margin-bottom: 26px;
  }

  .present__subtitle {
    margin-bottom: 16px;
  }
}

@media (max-width: 390px) {
  /* Hero */
  .hero__content {
    align-items: flex-start;
    text-align: start;
  }

  .hero__title {
    margin-bottom: 38px;
    font-size: 50px;
  }

  .hero__subtitle {
    max-width: 259px;
    margin-bottom: 12px;
    font-size: 16px;
  }

  .hero__btn {
    gap: 47px;
    padding: 7px 6px 7px 67px;
    font-size: 16px;
  }

  .hero__btn img {
    width: 38px;
  }

  /* Services */
  .services__title {
    margin-bottom: 25px;
    text-align: start;
    font-size: 42px;
  }

  .services__title .accent-text::before {
    top: 2px;
  }

  .services__title b {
    text-align: end;
  }

  .services__nav {
    gap: 20px;
    margin-top: 9px;
  }

  .services__nav button svg {
    width: 59px;
    aspect-ratio: 1;
  }

  /* Present */
  .present__inner {
    margin-bottom: 83px;
    padding: 39px 52px 45px;
  }

  .present__title {
    font-size: 32px;
  }

  .present__subtitle {
    font-weight: 400;
    font-size: 16px;
  }

  .present__btn {
    padding: 5px 6px 5px 58px;
    font-size: 17px;
  }

  .present__btn img {
    width: 34px;
  }

  /* Advantages */
  .advantages__inner {
    padding-bottom: 84px;
  }

  .advantages__title {
    margin-bottom: 18px;
    font-size: 46px;
  }

  .advantages__title .accent-text::before {
    top: 3px;
  }

  .advantages__title b {
    text-align: right;
  }

  .advantages__subtitle {
    font-size: 18px;
    text-align: start;
  }

  .advantages__subtitle .accent-text::before {
    height: 90%;
    top: 3px;
  }

  .advantages__nav {
    gap: 20px;
  }

  .advantages__nav button svg {
    width: 59px;
    aspect-ratio: 1;
  }

  /* Stages */
  .stages__title {
    position: relative;
    margin-bottom: 34px;
    font-size: 50px;
    text-align: start;
    z-index: 2;
  }

  .stages__title .accent-text::before {
    top: 3px;
  }
}
