/* Article */
.article__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article__title {
  font-size: 92px;
  line-height: var(--line-height);
  margin-bottom: 73px;
}

.article__title:before,
.article__title:after {
  content: "";
  display: inline-block;
  width: 43px;
  height: 35px;
}

.article__title:before {
  margin-right: 27px;
  background-image: url(../../assets/img/icons/Quotes.svg);
  vertical-align: top;
}

.article__title:after {
  margin: 0 0 -15px 15px;
  background-image: url(../../assets/img/icons/Quotes.svg);
  transform: rotate(180deg);
  vertical-align: bottom;
}

.article__img {
  margin-bottom: 73px;
  border-radius: var(--border-radius);
}

.article__img img {
  width: 100%;
}

.article__content {
  margin-bottom: 93px;
  padding: 52px 54px 59px 52px;
  background-color: var(--color-black);
  border-radius: var(--border-radius);
  color: var(--color-white);
  font-size: 22px;
  line-height: var(--line-height);
}

/* Contact */
.contact__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 29px;
  padding-bottom: 125px;
}

.contact__heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 1265px;
  width: 100%;
}

.contact__subtitle {
  font-size: 22px;
  line-height: var(--line-height);
}

.contact__body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  width: 100%;
}

.contact__img {
  max-width: 611px;
}

.contact__img img {
  width: 100%;
}

.contact__form {
  max-width: 566px;
}

.form__title {
  margin-bottom: 8px;
  font-family: "Impact";
  font-size: 36px;
  color: #1a1a1a;
}

.form__subtitle {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 25px;
  font-size: 14px;
  color: #1a1a1a;
}

.form__subtitle::after {
  content: "";
  width: 167px;
  height: 2px;
  background-color: var(--accent-color);
}

.form__socials {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 19px;
}

.form__socials svg,
.form__socials path {
  transition: var(--transition);
}

.form__socials .socials__link:hover svg,
.form__socials .socials__link:focus svg {
  transform: scale(1.2);
}

.form__socials .socials__link:hover path,
.form__socials .socials__link:focus path {
  fill: var(--accent-color);
}

.form__inputs {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  line-height: 1.2;
}

.form__input,
.form__textarea {
  border: 1px solid #1a1a1a;
  border-radius: 18px;
  padding: 16px 25px;
  transition: var(--transition);
}

.form__input:hover,
.form__textarea:hover {
  border-color: var(--accent-color);
  cursor: pointer;
}

.form__input::placeholder,
.form__textarea::placeholder {
  font-size: 12px;
  color: #1a1a1a;
  white-space: nowrap;
}

.form__input {
  min-width: 270px;
}

.contact__textarea {
  width: 100%;
}

.form__textarea {
  max-width: 564px;
  width: 100%;
  min-height: 161px;
  margin: 35px 0 24px;
}

.form__inputs:last-child label {
  font-size: 14px;
}

.form__inputs a {
  text-decoration: underline;
}

.form__btn {
  margin-top: 39px;
  padding: 15px 38px 14px 28px;
  border-radius: 18px;
  font-size: 14px;
  font-weight: 700;
}

.form__btn:hover,
.form__btn:focus {
  background-color: var(--color-black);
}
